In [13]:
#Dependencies and setup
import pandas as pd
from pathlib import Path
from datetime import date
import numpy as np

In [14]:
#Setting up the Work From Home data set

#Loading the Work From Home data
wfh_data = Path("resources/WFH_Share.csv")

#Read and store into DataFrame
wfh_df = pd.read_csv(wfh_data)

#Clean up the columns
wfh_df = wfh_df[["date","WFH_share"]]
wfh_df.dropna()

#Change date column data type 
wfh_df["date"]=pd.to_datetime(wfh_df["date"])

#Eliminate dates under 2018
wfh_df = wfh_df[(wfh_df["date"] > "2018-01-01")]
wfh_df = wfh_df[(wfh_df["date"] < "2022-01-01")]

wfh_df

         date  WFH_share
27 2019-01-01        7.2
28 2020-05-01       61.5
29 2020-07-01       51.0
30 2020-08-01       48.3
31 2020-09-01       44.3
32 2020-10-01       43.3
33 2020-11-01       38.8
34 2020-12-01       37.0
35 2021-01-01       36.8
36 2021-02-01       34.1
37 2021-03-01       34.6
38 2021-04-01       34.9
39 2021-05-01       32.8
40 2021-06-01       32.9
41 2021-07-01       33.6
42 2021-08-01       32.0
43 2021-09-01       32.4
44 2021-10-01       32.2
45 2021-11-01       33.1
46 2021-12-01       33.2

In [32]:
#Setting up the Fixed Rate Mortgate Rates

#Loading the Work From Home data
frm_data = Path("resources/historicalweeklydata.csv")

#Read and store into DataFrame
frm_df = pd.read_csv(frm_data)

#Clean up the DataFram
frm_df.columns = frm_df.iloc[0]
frm_df=frm_df.drop(frm_df.index[0])
frm_df = frm_df[["Week","US 30 Yr FRM"]]
frm_df.dropna()

frm_df.head()

0     Week US 30 Yr FRM
1   4/2/71         7.33
2   4/9/71         7.31
3  4/16/71         7.31
4  4/23/71         7.31
5  4/30/71         7.29

In [36]:
#Change date column data type 
frm_df["Week"]=pd.to_datetime(frm_df["Week"])


#Eliminate dates under 2018
frm_df = frm_df[(frm_df["Week"] > "2018-01-01")]
frm_df = frm_df[(frm_df["Week"] < "2022-01-01")]

frm_df.head()

0          Week US 30 Yr FRM
2441 2018-01-04         3.95
2442 2018-01-11         3.99
2443 2018-01-18         4.04
2444 2018-01-25         4.15
2445 2018-02-01         4.22