In [1]:
#Dependencies and setup
import pandas as pd
from pathlib import Path
from datetime import date
import matplotlib as plt

In [27]:
#Setting up the Work From Home data set

#Loading the Work From Home data


wfh_data = Path("resources/WFH_Share.csv")
historical_data = Path("resources/historicalweeklydata.csv")
hpi_data = Path("resources/HPI_master.csv")
sold_above_list_data = Path("resources/Metro_pct_sold_above_list_uc_sfrcondo_sm_month.csv")
moving_data = Path("resources/SUB-IP-EST2022-CUMCHG.csv")

#Read and store into DataFrame

#WFH data 
wfh_df = pd.read_csv(wfh_data)

#Historical data of FRM (Fixed morgage rates)
history_frm_df = pd.read_csv(historical_data)

#HPI(House Price Index data )
hpi_df = pd.read_csv(hpi_data)

#Houses sold above listing price 
sold_above_df = pd.read_csv(sold_above_list_data)

#Number of people moving out of Cities
moving_df = pd.read_csv(moving_data)


#Clean up the columns
wfh_df = wfh_df[["date","WFH_share"]]
wfh_df.dropna()
sold_above_df.dropna()

#Change date column data type 
wfh_df["date"]=pd.to_datetime(wfh_df["date"])
history_frm_df["Week"]=pd.to_datetime(history_frm_df["Week"])

#Eliminate dates under 2018
wfh_df = wfh_df[(wfh_df["date"] > "2018-01-01")]
wfh_df = wfh_df[(wfh_df["date"] < "2022-01-01")]


moving_df

,Rank,Geographic Area,1-Apr-20,1-Jul-22,Number,Percent
0,1,"Georgetown city, Texas","67,012","86,507","19,495",29.1
1,2,"Leander city, Texas","59,217","74,375","15,158",25.6
2,3,"Queen Creek town, Arizona","59,516","70,734","11,218",18.8
3,4,"New Braunfels city, Texas","90,391","104,707","14,316",15.8
4,5,"Buckeye city, Arizona","91,535","105,567","14,032",15.3
...,...,...,...,...,...,...
791,792,"Jackson city, Mississippi","153,705","145,995","-7,710",-5
792,793,"New York city, New York","8,804,194","8,335,897","-468,297",-5.3
793,794,"Revere city, Massachusetts","62,204","58,528","-3,676",-5.9
794,795,"Lake Charles city, Louisiana","84,936","79,113","-5,823",-6.9
795,796,"San Francisco city, California","873,959","808,437","-65,522",-7.5